.container-div {
  margin-top: 1rem;
}
.price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: solid 1px rgb(214, 214, 214);
}

.left-div .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div img{
    width: 180px;
    height: 170px;

}
.left-div select{
  width: 100px;
  margin-left: 1rem;
}
